﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@ViewBag.Title -LolPre!</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0!important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LolPre!", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>

                @Html.Partial("_LoginPartial")




                <!--Register vs vsvs-->
                <!--Register vs vsvs-->

            </div>
        </div>
    </div>

    <!-- Carousel baslangıc-->
    <div class="carousel slide" id="MySlide">
        <ol class="carousel-indicators">
            <li class="active" data-target="#MySlide" data-slide-to="0"></li>
            <li data-target="#MySlide" data-slide-to="1"></li>
            <li data-target="#MySlide" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/img/LolPreCover.jpg" alt="" title="" longdesc="" />
                <div class="carousel-caption">
                    <h2>Aradığın Partner Burada!</h2>
                </div>
            </div>
        <!--    ***BURDAN
            <div class="item">
                <img src="~/Content/img/lol2.jpg" alt="" title="" longdesc="" />
                <div class="carousel-caption">
                    <h2>Aradığın Partner Burada! 2</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/lol3.jpg" alt="" title="" longdesc="" />
                <div class="carousel-caption">
                    <h2>Aradığın Partner Burada! 3</h2>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#MySlide" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="right carousel-control" href="#MySlide" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>

***Buraya-->
    </div>
    <!-- Carousel bitiş-->


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <section class="section-lines">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 padding-40">
                            <p class="alert alert-info text-center no-margin">
                                <strong>Son Haberleri Almak Icin</strong> Bizi Takip Et <span><a href="#" title=""><strong>Facebook</strong></a></span> Yada <span><a href="#" title=""><strong>Twitter</strong></a></span>.
                                <br />Gelismemize Katkıda Bulunmak Istersen <span><strong><a href="#" title="">Bagıs Yap</a></strong></span> Ve Ozel Hizmetlerden Faydalan <strong>LolPre</strong>.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <p>&copy; @DateTime.Now.Year - LolPre!</p>

        </footer>
    </div>



</body>
</html>
