﻿@if (@HttpContext.Current.Session["User"] != null)
{

    <ul class="nav navbar-nav navbar-right">
        <li>@HttpContext.Current.Session["User"]</li>
        <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
        <li>@Html.ActionLink("Change Password", "PasswordChange", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
    </ul>
}




