﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LolPre'ye Hoş Geldiniz..</title>
</head>
<body>
    <p>Merhaba @ViewBag.Name,</p>
    <p>Kayıt olduğunuz için teşekkürler <a href="http://www.lolpre.com/Account/ActivateAccount/@ViewBag.Link"> linke tıklıyarak</a> üyeliğinizi aktif hale getirebilirsiniz...</p>
</body>
</html>
