﻿@model LolPreAlpha1.Models.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Giriş Yap!</h2>

<br /><br />
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <br />
    @Html.LabelFor(m => m.Email)
    <br />
    @Html.TextBoxFor(m => m.Email)
    <br />
    @Html.ValidationMessageFor(m => m.Email)
    <br />
    @Html.LabelFor(m => m.Password)
    <br />
    @Html.TextBoxFor(m => m.Password)
    <br />
    @Html.ValidationMessageFor(m => m.Password)
    <br />
    <input type="submit" value="Login" />
    <a href='/Account/ForgetAccount'>Forget Password?</a>

}