﻿@model LolPreAlpha1.Models.ViewModels.AccountViewModels.ManageUserViewModel
    ViewBag.Title = "PasswordChange";
}

<h2>PasswordChange</h2>
<br /><br />
<p>

</p>
@using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post))
{
    @Html.LabelFor(m => m.OldPassword)
    <br />
    @Html.TextBoxFor(m => m.OldPassword)
    <br />
    @Html.ValidationMessageFor(m => m.OldPassword)
    <br />
    @Html.LabelFor(m => m.NewPassword)
    <br />
    @Html.TextBoxFor(m => m.NewPassword)
    <br />
    @Html.ValidationMessageFor(m => m.NewPassword)
    <br />
    @Html.LabelFor(m => m.ConfirmPassword)
    <br />
    @Html.TextBoxFor(m => m.ConfirmPassword)
    <br />
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
    <br />
    <input type="submit" value="Kaydet" />

}