﻿@model LolPreAlpha1.Models.ViewModels.AccountViewModels.RegisterViewModel     

<h2>Hesap Yarat</h2>    
<h4>@ViewBag.message</h4>
<br /><br />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    <br />
    @Html.TextBoxFor(m => m.UserName)
    <br />
    @Html.ValidationMessageFor(m => m.UserName)
    <br />
    @Html.LabelFor(m => m.Email)
    <br />
    @Html.TextBoxFor(m => m.Email)
    <br />
    @Html.ValidationMessageFor(m => m.Email)
    <br />
    @Html.LabelFor(m => m.Password)
    <br />
    @Html.TextBoxFor(m => m.Password)
    <br />
    <br />
    @Html.LabelFor(m => m.ConfirmPassword)
    <br />
    @Html.TextBoxFor(m => m.ConfirmPassword)
    <br />
    <br />
    <input type="submit" value="Kaydet" />

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 