﻿@model LolPreAlpha1.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.dataTable.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>



<form action="http://localhost:55864/Member/CreateQue">
    <input type="submit" value="Yeni İlan Ver!.." />
</form>

<table class="table-responsive display table" id="Que" width="100">
    <thead>
        <tr>
            <th>Sihirdar Adi</th>
            <th>Lig</th>
            <th>Rol</th>
            <th>Aradıgı Rol</th>
            <th>Sesli Iletisim</th>
            <th>Ilan Saati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QueList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.League)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lane.LaneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lane1.LaneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voice.VoiceChoice)
                </td>
                <td>
                     @item.PostTime.ToString("h's 'm'd'") before
                     @* @((DateTime.UtcNow - item.PostTime).ToString("h's 'm'd'")) önce
                     @item.PostTime.Value.ToString("dd MMMM yyyy - hh:mm") -
                     @((DateTime.UtcNow - item.PostTime.Value).Days)  Gün
                     @((DateTime.UtcNow - item.PostTime.Value).Hours)  Saat Önce
                     @*  @(Convert.ToString(DateTime.UtcNow - item.PostTime)) Before *@
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('Que').dataTable();
    });
</script>




