﻿/* Body */
/*body{background:url(../img/grybackground.jpg) top left repeat;}*/
/*section lines*/
section-lines{background:url(../img/orange.jpg)0% 19.5%;}



/* Slide Alaný */ 
#MySlide  .item  img
{
	max-height:600px!important;
	width:100%!important;
}