﻿@model LolPreAlpha1.Models.ViewModels.QueViewModel
@{
    ViewBag.Title = "Yeni İlan";
}

<h2>CreateDynamicPost</h2>
<p>

</p>
<br /><br />
@using (Html.BeginForm("CreateQue", "Member", FormMethod.Post))
{
    @Html.LabelFor(m => m.LfRoleList)
    <br />
    @Html.DropDownListFor(m => m.LFLaneID,Model.LfRoleList)
    <br />
    @Html.ValidationMessageFor(m => m.LFLaneID)
    <br />
    @Html.LabelFor(m => m.MyRoleList)
    <br />
    @Html.DropDownListFor(m => m.MyLaneID, Model.MyRoleList)
    <br />
    @Html.ValidationMessageFor(m => m.MyLaneID)
    <br />
    @Html.LabelFor(m => m.VoiceList)
    <br />
    @Html.DropDownListFor(m => m.VoiceID, Model.VoiceList)
    <br />
    @Html.ValidationMessageFor(m => m.VoiceID)
    <br />
    <br />
    <input type="submit" value="Kaydet" />
}
